/* minimal effort stylesheet */

.hd-Header {
  align-items: center;
  justify-content: space-between;

  display: flex;
  padding: 20px 30px;

  background-color: #000;
  color: #fff;
}

.hd-Header a {
  color: inherit;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}
