<!DOCTYPE html>
<html lang="en">
  {% load static uncms_pages %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% comment %}
      `pages/head_meta.html` will include all of the page metadata that UnCMS
      knows about, such as title, meta description, OpenGraph tags, etc.
      This is the fastest way to include all of your page metadata.
    {% endcomment %}
    {% include 'pages/head_meta.html' %}

    {% block feeds %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %}
      This sample navigation CSS is only included with UnCMS as a starting
      point for implementing navigation. It is ugly on purpose. But this tiny
      project doubles as a test for it :)
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'pages/css/sample-navigation.css' %}">
  </head>

  <body>
    <header class="hd-Header">
      <a class="hd-Header_Title" href="/">a tiny project</a>

      <nav class="hd-Nav">
        {% navigation pages.homepage.navigation %}
      </nav>
    </header>

    <main class="lyt-Main">
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
