<!DOCTYPE html>
<html lang="en">
  {% load static uncms_pages %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% comment %}
      `pages/head_meta.html` will include all of the page metadata that UnCMS
      knows about, such as title, meta description, OpenGraph tags, etc.
      This is the fastest way to include all of your page metadata.
    {% endcomment %}
    {% include 'pages/head_meta.html' %}

    {% block feeds %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %}
      This sample navigation CSS is only included with UnCMS as a starting
      point for implementing navigation. It is ugly on purpose. But this tiny
      project doubles as a test for it :)
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'pages/css/sample-navigation.css' %}">
  </head>

  <body>
    <header class="header">
      <a class="header__title" href="/">a tiny project</a>

      <nav class="header__navigation">
        {% navigation pages.homepage.navigation %}
      </nav>
    </header>

    <main class="main">
      {% comment %}
        Here we demonstrate some of the more advanced usage of breadcrumbs.
        The default template will not show a breadcrumb trail if there are no
        items. But if you have a wrapping element in your page context, you
        don't want to show it if the breadcrumb trail is empty. It will be
        empty on the home page, for example, if you do not use show_tail.

        Here, we *do* use show_tail, if only as a demonstration of using it.
        But we want to conditionally show a wrapping <nav> tag, *and* only if
        there is more than one item in the breadcrumb trail. We can use
        get_breadcrumbs to get a Breadcrumbs object, and then only show its
        count if there is more than one breadcrumb to show.

        There is also a project-local template override to add arrows after
        all but the latest item in the navigation - see
        `tiny_project/templates/pages/breadcrumbs.html`.
      {% endcomment %}

      {% get_breadcrumbs as page_breadcrumbs %}
      {% if page_breadcrumbs.count > 2 %}
        <nav aria-label="breadcrumbs" class="main__breadcrumbs">
          You are here:
          {% block breadcrumbs %}
            {% breadcrumbs page_breadcrumbs show_tail=True %}
          {% endblock %}
        </nav>
      {% endif %}

      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
