<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="{{ get_meta_description() }}">
    <meta name="robots" content="{{ get_meta_robots() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    {% block canonical %}
      <link rel="canonical" href="{{ get_canonical_url() }}" />
    {% endblock %}

    {% if page_obj and page_obj.has_other_pages() %}
      {% if page_obj.has_previous() %}
        <link rel="previous" href="{{ get_pagination_url(page_obj.previous_page_number()) }}">
      {% endif %}

      {% if page_obj.has_next() %}
        <link rel="next" href="{{ get_pagination_url(page_obj.next_page_number()) }}">
      {% endif %}
    {% endif %}

    <meta charset="utf-8">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ get_og_title() }}">
    <meta property="og:url" content="{{ get_canonical_url() }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ get_og_description() }}">
    <meta property="og:image" content="{{ get_og_image() }}">

    <!-- Twitter card data -->
    <meta name="twitter:card" content="{{ get_twitter_card() }}" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="{{ get_twitter_title() }}" />
    <meta name="twitter:description" content="{{ get_twitter_description() }}" />
    <meta name="twitter:image" content="{{ get_twitter_image() }}" />

    <title>{% block title %}{{ render_title() }}{% endblock %}</title>

    {% block feeds %}{% endblock %}

    <link rel="stylesheet" href="{{ static('css/style.css') }}">
    <link rel="stylesheet" href="{{ static('pages/css/sample-navigation.css') }}">
  </head>

  <body>
    <header class="hd-Header">
      <a class="hd-Header_Title" href="/">a tiny project</a>

      <nav class="hd-Nav">
        {{ render_navigation(pages.homepage.navigation, item_template="pages/navigation/menu_item_extended.html") }}
      </nav>
    </header>

    <main class="lyt-Main">
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
